<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <!--<system.webServer>
    <handlers>
      <add name="html via php cgi" path="*.html" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>-->
</configuration>